@font-face {
    font-family: font-bold;
    src: url('../assets/images/oswald-bold.ttf');
  }

@font-face {
    font-family: font-light;
    src: url('../assets/images/oswald-light.ttf');
}

@font-face {
    font-family: font-regular;
    src: url('../assets/images/oswald-regular.ttf');
}

.container {
    width: 50%;
    margin: 0px auto;
}

.page-title {
    text-transform: uppercase;
    font-family: font-bold;
    font-size: 30px;
    padding: 15px 0;
}

.title-separator {
    margin-bottom: 20px;
    border-bottom: 15px solid #000;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    outline: none;
    font-family: font-regular;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-content: space-evenly;
}

.accordion__id {
    width: 10%;
    font-size: 24px;
}

.accordion__quest {
    width: 85%;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.accordion__icon {
    width: 5%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate-close {
    transform: rotate(45deg);
    transition: max-height 1.2s ease-out;
}

.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    font-family: font-light;
    transition: max-height 0.2s ease-out;
    border-bottom: 2px solid #000;
}

.panel-max {
    max-height: 130px;
}

@media (min-width:769px) and (max-width:900px) {
    .container {
        width: 75%;
        margin: 0px auto;
    }
}

@media (max-width:768px) { 
    .container {
        width: 90%;
        margin: 0px auto;
    }

    .page-title {
        font-size: 24px;
    }

    .accordion__id {
        font-size: 20px;
    }

    .accordion__quest {
        font-size: 14px;
    }

    .panel-max {
        max-height: 300px;
    }
}
